@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
}

h4 {
  padding: 0;
  margin: .3rem 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: .9rem;
  background-color: white;
  color: black;
}

select {
  border: none;
  padding: .5rem 1rem;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(240, 240, 240);  
}

.App {
  font-family: 'Nunito', sans-serif;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}